{#
/**
 * Available variables:
 * - carousel__base_class - carousel base class
 * - carousel__modifiers - array of modifiers to add to the base classname.
 * - slide__base_class - slide base class
 * - slide__content - array of slide properties
      image__src: image source
      image__alt: image alt description
      heading: the content of the title
      heading_element: heading tag indicator (h1, h2, h3)
      text: the content of the text section
      buttons - array of button properties in the slide
        - content: the content of the button
          url: url to the buttons content
 * - slide__container__modifiers - slide base class
 * - slide__content__modifiers - array of modifiers to add to the base classname.
 * - slide__heading__modifiers - array of modifiers to add to the base classname.
 * - slide__cta__modifiers - array of modifiers to add to the base classname.
 * - slide__menu__modifiers - array of modifiers to add to the base classname.
 */
#}

{% set carousel__base_class = 'carousel' %}
{% set slide__base_class = 'slide' %}

{{ attach_library('asebac/carousel') }}

<div {{ bem(carousel__base_class, carousel__modifiers, carousel__extra_classes)}} {{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {# Slide #}
  <div {{ bem('container', slide__container__modifiers, slide__base_class) }}>
    {% block slides_contet %}
      {% for slide in slide__content %}
      <div {{ bem(slide__base_class) }}>
      {# Image #}
        {% block slide_image %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: slide.image__src,
            image_alt: slide.image__alt,
            responsive_image_blockname: 'slide',
          } %}
        {% endblock %}
        {# Content #}
        <div {{ bem('content', slide__content__modifiers, slide__base_class) }}>
          {# Heading #}
          {{ title_prefix }}
          {% if slide.heading %}
            <{{slide.heading_element}} {{ bem('heading', slide__heading__modifiers, slide__base_class) }}>
              {{ slide.heading }}
            </{{slide.heading_element}}>
          {% endif %}
          {{ title_suffix }}
          {# Text #}
          {% if slide.text %}
            <p {{ bem('text', slide__heading__modifiers, slide__base_class) }}>{{ slide.text }}</p>
          {% endif %}
          {# Button Container #}
          {% if slide.buttons %}
            <div {{ bem('cta', slide__cta__modifiers, slide__base_class) }}>
              {% for button in slide.buttons %}
                {# Buttons #}
                {% include "@atoms/buttons/button.twig" with {
                  button_base_class: slide__button_base_class|default('button'),
                  button_modifiers: button.modifiers,
                  button_content: button.content,
                  button_url: button.url,
                  button_icon: button.icon,
                  button_type: 'link'
                } %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% endblock %}
  </div>
  {# Menu #}
  <div {{ bem('menu', slide__menu__modifiers, slide__base_class) }}>
    <ul {{ bem('nav-menu', slide__menu__modifiers, slide__base_class) }}>
      {% for slide in slide__content %}
      <li>
        <button {{ bem('nav-item', slide__menu__modifiers, slide__base_class) }}>
          {{slide.menu__content}}
        </button>
      </li>
      {% endfor %}
    </ul>
    <ul {{ bem('control-menu', slide__menu__modifiers, slide__base_class) }}>
      <li {{ bem('pager', slide__menu__modifiers, slide__base_class) }}></li>
      <li>
        <button {{ bem('autoplay', slide__menu__modifiers, slide__base_class) }}></button>
      </li>
      <li>
        <button aria-label="Item Anterior" {{ bem('prev', slide__menu__modifiers, slide__base_class) }}>
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'previous',
          } %}
        </button>
      </li>
      <li>
        <button aria-label="Siguiente Item" {{ bem('next', slide__menu__modifiers, slide__base_class) }}>
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'next',
          } %}
      </button>
      </li>
    </ul>
  </div>
</div>
